In [ ]:
import pandas as pd

In [ ]:
#import file dataset (Airbnb_NewYork_2019.csv) from google drive
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1sHBKWxFdfXnkqOLu3jukduMRxg7Bz0-9' -O Airbnb_NewYork_2019.csv

--2024-07-10 20:37:28--  https://docs.google.com/uc?export=download&id=1sHBKWxFdfXnkqOLu3jukduMRxg7Bz0-9
Resolving docs.google.com (docs.google.com)... 74.125.23.102, 74.125.23.113, 74.125.23.138, ...
Connecting to docs.google.com (docs.google.com)|74.125.23.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1sHBKWxFdfXnkqOLu3jukduMRxg7Bz0-9&export=download [following]
--2024-07-10 20:37:28--  https://drive.usercontent.google.com/download?id=1sHBKWxFdfXnkqOLu3jukduMRxg7Bz0-9&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.157.132, 2404:6800:4008:c13::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.157.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 431301 (421K) [application/octet-stream]
Saving to: ‘Airbnb_NewYork_2019.csv’

Airbnb_NewYork_2019 100%[===================>] 421.19K  --.-KB/s    in 0.003s

2024-07-10 20:37:29 (118 MB/s) - ‘Airbnb_NewYork_2019.csv’ saved [431301/431301]

In [ ]:
df = pd.read_csv("Airbnb_NewYork_2019.csv")

#Exploratory Data Analysis

In [ ]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9,2018-11-19,0.10,1,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2996 entries, 0 to 2995
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              2996 non-null   int64
 1   name                            2995 non-null   object
 2   host_id                         2996 non-null   int64
 3   host_name                       2994 non-null   object
 4   neighbourhood_group             2996 non-null   object
 5   neighbourhood                   2996 non-null   object
 6   latitude                        2991 non-null   float64
 7   longitude                       2989 non-null   float64
 8   room_type                       2996 non-null   object
 9   price                           2993 non-null   float64
 10  minimum_nights                  2988 non-null   float64
 11  number_of_reviews               2996 non-null   int64
 12  last_review                     2851 non-null   object
 13  reviews_per_month               2851 non-null   float64
 14  calculated_host_listings_count  2996 non-null   int64
 15  availability_365                2996 non-null   int64
dtypes: float64(5), int64(5), object(6)
memory usage: 374.6+ KB

#1. Check Missing Data

In [ ]:
df.isnull()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2992,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

id                                  0
name                                1
host_id                             0
host_name                           2
neighbourhood_group                 0
neighbourhood                       0
latitude                            5
longitude                           7
room_type                           0
price                               3
minimum_nights                      8
number_of_reviews                   0
last_review                       145
reviews_per_month                 145
calculated_host_listings_count      0
availability_365                    0
dtype: int64

#1.1 Input missing value

In [ ]:
# imputing price with mean
price_mean_value = round(df['price'].mean(), 2)
df['price'].fillna(price_mean_value, inplace=True)

In [ ]:
# TODO: imputing reviews_per_month with mean
reviews_per_month_mean_value = round(df['reviews_per_month'].mean(), 2)
df['reviews_per_month'].fillna(reviews_per_month_mean_value, inplace=True)

In [ ]:
# TODO: replace null values in minimum_nights with 0
df['minimum_nights'].fillna(0, inplace=True)

In [ ]:
# TODO: replace null values in name and host_name with 'None'
df['name'].fillna('None', inplace=True)
df['host_name'].fillna('None', inplace=True)

In [ ]:
df.isnull().sum()

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood_group                 0
neighbourhood                       0
latitude                            5
longitude                           7
room_type                           0
price                               0
minimum_nights                      0
number_of_reviews                   0
last_review                       145
reviews_per_month                   0
calculated_host_listings_count      0
availability_365                    0
dtype: int64

#1.2 Delete missing data rows and Drop missing columns

In [ ]:
# TODO: delete last_review mising data row
df.dropna(subset=['last_review'], inplace=True)

In [ ]:
#axis=1 (columns)
df.dropna(axis=1, inplace=True)

In [ ]:
# TODO: Drop specific columns (latitude and longitude) #รันแล้วติดKeyError งง
df.drop(['latitude'], axis=1, inplace=True)
df.drop(['longitude'], axis=1, inplace=True)

KeyError: "['latitude'] not found in axis"

In [ ]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

#2. Data in Wrong Format

In [ ]:
df['last_review'] = pd.to_datetime(df['last_review'], format='%Y-%m-%d')

In [ ]:
df['last_review'].head()

0   2018-10-19
1   2019-05-21
3   2019-07-05
4   2018-11-19
5   2019-06-22
Name: last_review, dtype: datetime64[ns]

In [ ]:
# TODO: Remove data rows that are not valid Date format.
df.dropna(subset=['last_review'], inplace=True)

#3. Wrong Data (Outlier)

In [ ]:
# Replace data rows that the column "availability_365" > 365 to 365

for x in df.index:
  if df.loc[x, "availability_365"] > 365:
      df.loc[x, "availability_365"] = 365

In [ ]:
df.loc[8]

id                                                              5203
name                              Cozy Clean Guest Room - Family Apt
host_id                                                         7490
host_name                                                  MaryEllen
neighbourhood_group                                        Manhattan
neighbourhood                                        Upper West Side
room_type                                               Private room
price                                                         159.28
minimum_nights                                                   2.0
number_of_reviews                                                118
last_review                                      2019-10-11 00:00:00
reviews_per_month                                               0.99
calculated_host_listings_count                                     1
availability_365                                                   0
Name: 8, dtype: object

#4. Remove Duplicates

In [ ]:
# Check for duplicated data
print(df.duplicated().any())

True

In [ ]:
df.duplicated()

0       False
1       False
3       False
4       False
5       False
        ...
2991    False
2992    False
2993    False
2994    False
2995    False
Length: 2851, dtype: bool

In [ ]:
# TODO : Remove duplicate rows
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().any()

False